@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("images/1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
}

.nav-logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover,
.active {
  border-bottom: 2px solid white;
}

.nav-button {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: gray;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: whitesmoke;
}

#registerBtn {
  margin-left: 15px;
}

.btn.white-btn {
  background: gray;
}
.btn.white-btn:hover {
  background: whitesmoke;
}

.nav-menu-btn {
  display: none;
}

.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}

.register-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.top span {
  color: whitesmoke;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.top span a {
  font-weight: 500;
  color: white;
  margin-left: 5px;
}

.header {
  color: whitesmoke;
  font-size: 30px;
  text-align: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.two-form {
  display: flex;
  gap: 10px;
}

.input-field {
  font-size: 15px;
  background: gray;
  columns: white;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: 0.2s ease;
}
.input-field:hover,
.input-field:focus {
  background: gray;
}
::-webkit-placeholder {
  color: white;
}
